  <div class = "head">
   <h3>Oreder form</h3>
   (reservation required)
  </div>
  
  <div class = "logo">
    <%=link_to image_tag("/logo.png"), home_index_path%>
  </div>
  
  <div class = "head_table">
    <h3>Technical specifications for the architectural design</h3>
  </div> 

  <div class = "forms_fild">
    <p style = "line-height: 30px;">
     <b>Design assignment</b> - the source document for the initial design given by the customer for the project organization.<br />
<b>Design assignment</b> - a list of requirements, conditions, objectives, goals, set by the customer in writing, documented, and given
to the performer of the work of design and research character. The job is usually preceded by the development of building, engineering
projects and provides guidance to the designer to create a project that meets the desires
of the customer and the relevant conditions of use, application of project development, as well as resource constraints.
The more precisely the customer formulates his requirements to the planned building, the more correct and faster draft will be prepared.
Unique ability of accurate record of all customer’s requirements is the signing of the document, which includes an account of these
requirements and doesn’t permit various interpretations.<br />
Technical design of the architectural object consists of the following parts:<br />
1. General requirements. The purpose and objectives of design, based on the destination of the object, its practical and ideological content.<br />
2. The composition and the area of the premises. Appointment of parts and groups of premises, the list of premises, their size and area.
Cadastral plan of the site.<br />
3. Topographical plan of site to a scale of 1:500, with deposited underground utility systems on it (if there are any).<br />
4. Conclusion of geological examination of the composition of soils at the site of the constructional project.
Conditions of the natural and urban landscape.<br />
5. Requirements for internal communications.<br />
6. Requirements for hygienic and comfort modes (the necessity to isolate the noise and adverse climatic conditions).<br />
7. The requirements for a constructive solution (strength, stability, durability) and economic feasibility, technical equipment of building and methods of construction.<br />
8. Recommended materials and character of interior design.<br />
9. Architectural and painterly requirements.<br />

    </p>
  
  </div>
  
  

  <div class = "forms_fild">
     <div class = "inner_head_table">
       <h3>All the information (design specification) for architectural design please send at <span style="color:green"><%= Setting.first.email%> </span></h3>
       <br/>
       
       <!--<%= link_to "back", home_index_path , :class => "form_buttom" %>--> 
       <br/>
     </div> 
     
</div>
  
  
   <br /> <br /> <br /> <br />
  