<li><a href="#exclusive">Эскизное проектирование</a></li>
<li><a href="#design_project">Дизайн проект</a></li>
<li><a href="#architecture">Архитектурное и инженерное проектирование</a></li>
<li><a href="#industrial">Промышленный дизайн</a></li>