  <li>
   <a href="#architecture_design">
    <div class = "menu_list">
     <div class = "menu_img"> <img src="/images/pic1.jpg" width="110"></div>
     <div class = "menu_text">Architecture</div>
    </div>
    </a>
  </li>  
  <li>
   <a href="#design">
   <div class = "menu_list">
    <div class = "menu_img"> <img src="/images/pic2.jpg" width="110"></div>
    <div class = "menu_text">Interior Design</div>
   </div>
   </a>
  </li> 
  <li>
   <a href="#industrial_design">
   <div class = "menu_list">
    <div class = "menu_img"> <img src="/images/pic3.jpg" width="110"></div>
    <div class = "menu_text">Indastrial Design</div>
   </div>
   </a>
  </li>