<h1>New order №<%=@customer.id%><h1/><br />

link to order: <a href = "http://pure-fortress-3308.herokuapp.com/form_one/<%=@customer.id%>"> http://pure-fortress-3308.herokuapp.comform_one/<%=@customer.id%></a>