// Place all the styles related to the FormOne controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.family_add
{
  visibility: hidden;
}

.family_filds
{
  padding: 10px;
  margin: 10px;
  border: 1px dashed;
}